SUPABASE_URL=https://ygykgceoanhuwywjscey.supabase.co
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
PORT=3001
FRONTEND_URL=http://localhost:3000

ADMIN_USERNAME=admin@123
ADMIN_PASSWORD=admin
ADMIN_JWT_SECRET=super_secret_demo_admin_key_12345
